@charset "utf-8";
/* CSS Document */
body
{
margin:0px;
padding:0px;
}

.container-fluid {
padding-right: 0px;
padding-left: 0px;
}
.header
{
	 width:100%;
	 height:10%;
	/* border-style:double;
	border-color:#666;*/
}


.container-fluid
{
	border-style:solid;
	border-bottom-width:0px;
    border-color:#999;
}
.ul li
{
	display:inline-block;
}
.menu
{
	padding:10px 0px -10px 0px;
}
.menu ul li 
{
	display:inline-block;
	 text-decoration: none;
}
.sm ul li
{display:inline-block;
}
/*.col-md-3 {
width: 22%;
}*/


.aside
{
width:100%;
height:auto;
}
.content
{width:100%;
height:auto;
}
/* nav bar css*/

/*MENU STYLE*/
/********************************/ 

}
#menu14 {
       width: 100%;
	  
       margin: 0px 0px;
       }

#menu14 ul {
list-style: none;
margin: 0;
padding: 8px;
}

#menu14 img {
border: none;
}

#menu14 li a {
      
        voice-family: "\"}\"";
         voice-family: inherit;
         height:20px;
       text-decoration: none;
	   color:#F60;
	  
       }


#menu14 ul li a:hover
{
	color:#F30;
	text-decoration:none;
}
#menu14 ul li:hover ul
{
	display:block;
}
	#menu14 ul ul
	{   display:none;
		z-index:11;
		position:absolute;
		top: 0;
		right:-142px;
		min-width:130px;
		width:164px;
		height:110px;
		border-radius:8px;
		background-color:#FFF;
		border-color:#999;
		border-width:medium;
		border-style:solid;
		bordr-width:1px;
	}
.col-xs-12 menu14 ul ul
{
	 display:none;
		z-index:11;
		position:absolute;
		top: 0;
		right:500px;
		min-width:130px;
		width:164px;
		height:110px;
		border-radius:8px;
		background-color:#FFF;
		border-color:#999;
		border-width:medium;
		border-style:solid;
		bordr-width:1px;
}
#menu14 ul ul li
{
	display:block;
		margin-top: 4px;																																																																																																																																											
}
/*Thumbnail slider*/
.well
{width:100%;
height:auto;
}

.carousel-control {
  padding-top:5%;
  width:3%;
}
/*.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}
*/
.panel-footer
{
	background-color:#09F;
	width:100%;
	height:auto;
}
.footer-text
{
	width:100%;
	height:auto;
	background-color:#000;
}
.text
{
	padding:10px;
}
.col-md-2 {
width: 13.666667%;
margin:0px 3px;
}
/* responsive map*/
iframe, object, embed{max-width: 100%;}	
